<p style="color: green"><%= notice %></p>

<div class="container-fluid px-10">

    <%# <h1 class="title px-4">Event Planners</h1> %>

  <div class="row gx-5 gy-5 d-flex px-4">

            <% @products.each do |product| %>

            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 card-listing">
              <%# <%= render listing %>
              <%= link_to product_path(product), class:"text-decoration-none" do %>
                <div class="cards-container" id="carouselExampleCaptions" class="carousel slide">

                  <div class="hover-card">
                    <% if product.photos.attached? %>
    <%= image_tag product.photos.first.url, class: "image" %>
  <% else %>
    <%= image_tag "logo.png", class: "image" %>
  <% end %>
                    <%# <p class="hidden-text" style="color:white;"><%= cl_image_tag planner.profile_photo.key, class: "avatar dropdown-toggle"%>
                  </div>


                  <div class="card-description">
                    <h3 class="card-title space pt-2"><%=product.name %></h3>
                    <p class="card-title space STAR" style="color: black;"><%=product.rating%> <i class="fas fa-star" style="color: black; font-size: 16px;"></i></p>

                  </div>

                  <div class="card-details justifiy-content-start">
                    <%# <p class="card-info space"><%=listing.duration hour</p> %>
                    <%= product.short_description%>

                  </div>

                  <div class="card-details justifiy-content-end">
                    <p class="card-price space" style="color: black; font-size: 16px; margin-bottom: 0px;">£ <%=product.price %></p>
                  </div>

                </div>

              <% end %>

            </div>

          <% end %>
   <% if user_signed_in? %>
  <% if current_user.id == 1 %>
    <%= link_to "New product", new_product_path %>
  <% end %>
<% end %>

  </div>
</div>
